<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>NeilMaul</title>

    <%= stylesheet_link_tag "application", :media => "screen" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <header id="banner" role="banner">
        <% if auth_user %>
          <div id="welcome-msg">hello <%= auth_user.name %></div>
        <% end %>

        <hgroup>
          <h1>
            <%= link_to 'Neil Maul', root_path, { title: 'return to the homepage', role: 'link' } %></h1>
          <h2>Painter &amp; Decorator</h2>
        </hgroup>

        <nav role="nav">
          <ul>
            <li></li>
          </ul>
        </nav>
      </header>

      <hr />

      <section id="main" role="main">
        <% if flash[:notice] %>
          <div id="notice">
            <p><%= flash[:notice] %></p>
          </div>
        <% end %>

        <%= yield %>
      </section>

      <hr />

      <footer id="footer" role="contentinfo">
        <p><small>Neil Maul &copy; 2012</small></p>
      </footer>

    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
